:root {
    --primary-color: hsl(158, 36%, 37%);
    --darkest-primary-color: hsl(158, 51%, 24%);
    --background-color: hsl(30, 38%, 92%);
    --title-color: hsl(212, 21%, 14%);
    --text-color: hsl(228, 12%, 48%);
    --secondary-background-color: hsl(0, 0%, 100%);
}

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    overflow: hidden;
}

.card__img--desktop {
    display: none;
}

.info {
    margin: 20px 0 0;
    align-self: center;
    width: 80%;
}

.card__obj {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--text-color);
}

.card__title {
    margin-bottom: 10px;
    font-family: 'Fraunces', serif;
    font-size: xx-large;
    color: var(--title-color);
    line-height: 35px;
}

.card__description {
    margin-bottom: 15px;
    padding-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    line-height: 25px;
}

.card__prices {
    display: flex;
    gap: 0 20px;
    align-items: center;
}

.card__prices .current {
    font-family: 'Fraunces', serif;
    font-size: xx-large;
    color: var(--primary-color);
}

.card__prices .old {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    text-decoration: line-through;
    color: var(--text-color);
}

.card__button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 20px;
    padding: 15px;
    width: 85%;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--secondary-background-color);
    background-color: var(--primary-color);
}

.card__button:hover {
    cursor: pointer;
    background-color: var(--darkest-primary-color);
}

@media (min-width: 1440px) {}